.faqs-controller {
  cursor: pointer;
  padding: 20px 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  place-content: center;
  background: transparent;
  color: #4d4d4d;
}
.faqs-controller.active {
  background: #489989;
  color: #ffffff;
}